/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(img2.jpg);
    background-repeat:repeat;
    background-attachment: fixed;
}

body {
    font-family:system-ui,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    
    background-size; cover;
    background-position: center;
}

header {
    background-color:#FCE7C8
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

nav .logo h1 {
    color: rgb(16, 64, 80);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

nav .nav-links {
    list-style: none;
    display: flex;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links li a {
    color:rgb(7, 2, 2) ;
    text-decoration: none;
    font-size: 18px;
}

nav .nav-links li a:hover {
    color: #B1C29E;
}

/* Hero Section */
.hero {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 80px 0;
    text-align: center;
}

.hero h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero .cta-btn {
    background-color: #8d2a78;
    color: plum;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.hero .cta-btn:hover {
    background-color: #9F8383;
}

/* Menu Section */
.menu {
    text-align: center;
    padding: 40px 0;
    background-color: #C8AAAA;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
}

.menu h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.menu-table {
    width: 100%;
    margin-top: 30px;
}

.menu-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color:#F4D793;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(12, 9, 9, 0.1);
}

.menu-table table th, .menu-table table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.menu-table table th {
    background-color: #ff6347;
    color: white;
    font-size: 18px;
}

.menu-table table td {
    font-size: 16px;
    color: #ffffff;
}

.menu-table h3 {
    margin-top: 30px;
    font-size: 24px;
    color: #ffffff;
}

/* About Section */
.about {
    text-align: center;
    padding: 40px 0;
}

.about h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    color: #ffffff;
}
.about p2 {
    font-size: 18px;
    color: #ffffff;
}

/* Contact Section */
.contact {
    background-color: #ffffff;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.contact h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

footer p {
    font-size: 16px;
}
